@import 'tailwindcss';

@theme {
  --animate-race: race 2s ease-out;
  @keyframes race {
    0% {
        height: 24rem;
        rotate: 0deg;
        position: relative;
        left: 100%;
    }
    50% {
        rotate: 0deg;
        position: relative;
        left: 0;
    }
    100% {
        rotate: -45deg;
    }
  }
}
