body {
    margin: 10px 20%;
}

h3, h4, p {
    font-family: arial;
    color: #007e7e;
}

hr {
    border: none;
    height: 2px;
    background-color: #007e7e;
}

p.verde {
    color: green;
}

p.azul {
    color: blue;
}

p.roxo {
    color: purple
}

p.marrom {
    color: maroon;
}

p.cinza {
    color: gray;
    text-align: center;
}